@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
overflow-x:hidden;
}

/* Animated Background */

body::before{
content:"";
position:fixed;
width:100%;
height:100%;
top:0;
left:0;

background:
radial-gradient(circle at 20% 20%,#06b6d4 0%,transparent 25%),
radial-gradient(circle at 80% 80%,#3b82f6 0%,transparent 25%),
radial-gradient(circle at 50% 50%,#8b5cf6 0%,transparent 30%);

z-index:-1;
animation:bgMove 15s linear infinite;
}

@keyframes bgMove{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-40px);
}

100%{
transform:translateY(0);
}

}

/* Loader */

#loader{
position:fixed;
width:100%;
height:100vh;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
z-index:99999;
}

.spinner{
width:70px;
height:70px;
border:6px solid rgba(255,255,255,.2);
border-top:6px solid cyan;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

/* Navbar */

header{
position:fixed;
top:0;
left:0;
width:100%;
z-index:1000;
backdrop-filter:blur(15px);
background:rgba(15,23,42,.5);
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
}

.logo{
font-size:28px;
font-weight:700;
}

.logo span{
color:cyan;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
position:relative;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0;
height:2px;
background:cyan;
transition:.4s;
}

.nav-links a:hover::after{
width:100%;
}

#menu-btn{
display:none;
font-size:28px;
cursor:pointer;
}

/* Hero */

.hero{
min-height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 10%;
gap:60px;
}

.hero-content{
flex:1;
animation:slideLeft 1s ease;
}

.hero-content h3{
font-size:25px;
}

.hero-content h1{
font-size:70px;
color:cyan;
}

.hero-content h2{
margin:15px 0;
font-size:35px;
color:#38bdf8;
height:50px;
}

.hero-content p{
line-height:1.8;
max-width:600px;
color:#d1d5db;
}

.hero-btns{
margin-top:30px;
display:flex;
gap:20px;
}

.btn{
padding:14px 30px;
background:cyan;
color:black;
text-decoration:none;
border-radius:50px;
font-weight:600;
transition:.4s;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 0 30px cyan;
}

.secondary{
background:transparent;
border:2px solid cyan;
color:white;
}

/* Social */

.social-icons{
display:flex;
gap:15px;
margin-top:30px;
}

.social-icons a{
width:50px;
height:50px;
display:flex;
align-items:center;
justify-content:center;
background:rgba(255,255,255,.1);
border-radius:50%;
color:white;
font-size:20px;
transition:.4s;
}

.social-icons a:hover{
background:cyan;
color:black;
transform:translateY(-10px);
}

/* Hero Image */

.hero-image{
flex:1;
display:flex;
justify-content:center;
animation:slideRight 1s ease;
}

.image-box{
width:380px;
height:380px;
border-radius:50%;
padding:8px;
background-size:cover
linear-gradient(
45deg,
cyan,
#3b82f6,
#8b5cf6,
cyan
);

background-size:300% 300%;

animation:
borderMove 6s linear infinite,
floating 4s ease-in-out infinite;
}

.image-box img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
border:8px solid #0f172a;
}

@keyframes borderMove{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

@keyframes floating{

50%{
transform:translateY(-20px);
}

}

/* Sections */

section{
padding:100px 10%;
}

.section-title{
text-align:center;
font-size:45px;
margin-bottom:50px;
color:cyan;
}

/* About */

.about-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.about-card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.1);
padding:35px;
border-radius:20px;
transition:.4s;
}

.about-card:hover{
transform:translateY(-10px);
box-shadow:0 0 30px rgba(0,255,255,.3);
}


.progress-bar.sql {
    width: 50%;
}

.progress-bar.java {
    width: 65%;
}

.skill-box{
max-width:900px;
margin:auto;
}

.skill{
margin:30px 0;
}

.skill span{
font-size:18px;
}

.progress{
height:14px;
background:#1e293b;
border-radius:50px;
overflow:hidden;
margin-top:10px;
}

.progress-bar{
height:100%;
border-radius:50px;
background:linear-gradient(90deg,cyan,#3b82f6);
animation:fillBar 3s ease;
}

.html{
width:95%;
}

.css{
width:90%;
}

.js{
width:85%;
}

@keyframes fillBar{
from{
width:0;
}
}

/* Projects */

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.project-card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
border-radius:20px;
overflow:hidden;
transition:.5s;
cursor:pointer;
}

.project-card:hover{
transform:
translateY(-15px)
rotateX(5deg)
rotateY(5deg);

box-shadow:
0 15px 40px rgba(0,0,0,.4);
}

.project-image img{
width:100%;
display:block;
}

.project-content{
padding:25px;
}

.project-content h3{
margin-bottom:10px;
}

/* Contact */

.contact-form{
max-width:750px;
margin:auto;

background:
rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:40px;

border-radius:25px;

display:flex;
flex-direction:column;
gap:20px;
}

.contact-form input,
.contact-form textarea{

padding:18px;

border:none;

outline:none;

background:
rgba(255,255,255,.08);

color:white;

border-radius:15px;

transition:.4s;
}

.contact-form input:focus,
.contact-form textarea:focus{

box-shadow:
0 0 20px cyan;

}

.contact-form button{

padding:16px;

background:cyan;

border:none;

border-radius:15px;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.4s;
}

.contact-form button:hover{

transform:translateY(-5px);

box-shadow:
0 0 25px cyan;

}

/* Footer */

footer{
text-align:center;
padding:40px;
background:#111827;
}
footer {
    text-align: center;
    padding: 30px 20px;
}

footer h3 {
    margin-bottom: 8px;
}

footer p {
    margin: 8px 0;
}

footer a {
    text-decoration: none;
}

.footer-social {
    margin: 18px 0;
}

.footer-social a {
    font-size: 24px;
    margin: 0 10px;
}

.footer-social a:hover {
    transform: translateY(-4px);
}

.copyright {
    font-size: 14px;
    opacity: 0.8;
}

/* Animations */

@keyframes slideLeft{

from{
opacity:0;
transform:translateX(-50px);
}

to{
opacity:1;
transform:translateX(0);
}

}

@keyframes slideRight{

from{
opacity:0;
transform:translateX(50px);
}

to{
opacity:1;
transform:translateX(0);
}

}

/* Responsive */

@media(max-width:900px){

.hero{
flex-direction:column-reverse;
text-align:center;
}

.hero-content h1{
font-size:50px;
}

.image-box{
width:280px;
height:280px;
}

.hero-btns{
justify-content:center;
}

.social-icons{
justify-content:center;
}

.nav-links{
display:none;
}

#menu-btn{
display:block;
}

}
